.App {
  text-align: center;
}

.song-card {
  min-width: 40vw;
  max-width: 40vw;
  min-height: 35vh;
  max-height: 60vh;
  border: 2px solid black;
  margin-top: 1vh;
}

.songs-container {
  background-color: pink;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 90vw;
  margin: auto;
  border: 1px solid black;
  min-height: 100vh;
}



.audio {
  max-width: 20vw;
  max-height: 3vh;
}

.option1 {
  border: 2px solid black;
  width: 20vw;
  height: 5vh;
  font-size: 20px;
  background: linear-gradient(pink, white);
}

.options {
  padding-bottom: 1vh;
}

h1 {
  font-size: 35px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: orangered;

}

.image {
  display: flex;
  justify-content: space-evenly;

}


.song-detail {}

.img-text {
  align-items: center;
  display: flex;
  border: 1px solid black;
  margin:auto;
  min-width:20vw;
  max-width:50vw;
  max-height:170px;


}